<link rel="stylesheet" href="app.component.css">

<div class="box" id="splash">
  <h1 class="fadesin" id ="1">welcome to w<span class="and">&</span>yfinder.</h1>
  <h2 class="fadesin" id ="2">W<span class="and">&</span>M's navigation tool for the Integrated Science Center (ISC).</h2>

  <h2 class="fadesin" id ="3">first things first, let's figure out where you are.</h2>
  <h2 class="fadesin" id ="4">what room are you closest to right now? you can ignore any letters you see.</h2>

  <span class="startinput">
    <input class="fadesin" pattern="[0-9]*" type="text" id = "5" disabled="disabled" autocomplete = "off">
    <button class="fadesin" id = "6" disabled = "disabled">done✓</button>
  </span>
  <h2 class="fadesin" id = "7">that doesn't appear to be a room number. try again.</h2>

  <h2 class="fadesin" id = "8">great! now, where would you like to go?</h2>
  <span class="startinput">
    <input class="fadesin" pattern="[0-9]*" type="text" id = "9" disabled="disabled" autocomplete = "off">
    <button class="fadesin" id = "10" disabled = "disabled">done✓</button>
  </span>
  <h2 class="fadesin" id = "11">that doesn't appear to be a room number. try again.</h2>
  <h2 class="fadesin" id = "12">alright! here's how to get to your destination: </h2>

</div>

